{% if paginator.total_pages > 1 %}
<nav class="custom-pagination" aria-label="Pagination">
  <ul class="pagination-list">
    
    <li>
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination-link arrow">
          <i class="fas fa-chevron-left"></i>
        </a>
      {% else %}
        <span class="pagination-link arrow disabled">
          <i class="fas fa-chevron-left"></i>
        </span>
      {% endif %}
    </li>

    {% for page in (1..paginator.total_pages) %}
      <li>
        {% if page == paginator.page %}
          <span class="pagination-link number active">{{ page }}</span>
        {% elsif page == 1 %}
          <a href="{{ '/' | relative_url }}" class="pagination-link number">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="pagination-link number">{{ page }}</a>
        {% endif %}
      </li>
    {% endfor %}

    <li>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="pagination-link arrow">
          <i class="fas fa-chevron-right"></i>
        </a>
      {% else %}
        <span class="pagination-link arrow disabled">
          <i class="fas fa-chevron-right"></i>
        </span>
      {% endif %}
    </li>

  </ul>
</nav>
{% endif %}